html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #f0f4f4;
		color: #5b5b5b;
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

  .jumbo{
    padding: 100px;
    text-align: left;
    padding-top: 200px;
    font-size: 200%;
    color: #f0f4f4;
    text-decoration: none;
  }
	.jumbotron{
		background-color: #0EE5BD;
		margin:30px 0 10px 0;
		font-family: 'Montserrat', sans-serif;
		margin-top: 0;
		margin-bottom: 0;
		min-height: 350px;

	}
	.jumbotron button{
		position: relative;
		left:1000px;
	}
	.jumbotron button:hover{
		color: #0EE5BD;
	}

	.jumbotron hr{
		border-top: 1px solid gray;
	}

	.d-block{
		height: 100vh;
		width: auto;
	}

.carousel{
	height:100vh;
}

	.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.container-text-slider{
	padding:100px;
}

.background-quotes{
	background-image: url("/images?image=quotation-marks.svg");
	background-repeat: no-repeat;
  background-position: center;
	opacity: 0.4;
}

.login-bg{
	position: fixed;
	height:100vh;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}

.signup-bg{
	position: fixed;
	height:100vh;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}

.bg-active{
	visibility: visible;
	opacity: 1;
}

.inner-login-box{
	font-family: sans-serif;
	position: relative;
	background-color: #191919;
	width: 50%;
	height: 70%;
	display: flex;
	justify-content:space-around;
	flex-direction:column;
	align-items: center;

	border-radius: 20px;
}

.inner-login-box h1{
	padding-top:30px;
	color:white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: xx-large;
}
.inner-login-box input{
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	color: white;
	border-radius: 30px;
	transition: 0.25s;
}

.inner-login-box input[type="text"]:focus{
	width:380px;
	border-color: #2ecc71;	
}
.inner-login-box input[type="password"]:focus{
	width:380px;
	border-color: #2ecc71;	
}

.inner-login-box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width:200px;
	outline: none;
	color: white;
	border-radius: 30px;
	transition: 0.25s;
	cursor: pointer;
}


.inner-login-box input[type="submit"]:hover{
	background: #2ecc71;
}

.modal-close{
	position: absolute;
	top:10px;
	right:10px;
	font-weight: bold;
	cursor: pointer;
}