html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #f0f4f4;
		color: white;
		font-size: 15pt;
		line-height: 1.85em;
		/*font-family: 'Source Sans Pro', sans-serif;*/
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
	}


	.new-btn{
		border: 0;
		margin: 5px;
		background: none;
		display: block;
		text-align: center;
		border: none;
		color: white;
		padding: 7px 5%;
		outline: none;
		border-radius: 30px;
		transition: 0.25s;
		cursor: pointer;
	}

	.new-btn:hover{
		background: #66FCF1;
		border:#66FCF1;
	}

	.form-inline{
		flex-flow: row;
		padding-right: 50px;
	}
	

  .jumbo{
    padding: 100px;
    text-align: left;
    padding-top: 200px;
    font-size: 200%;
    color: #f0f4f4;
	text-decoration: none;
  }


	.jumbotron{
		background-color: white;
		margin:30px 0 10px 0;
		font-family: 'Montserrat', sans-serif;
		margin-top: 0;
		margin-bottom: 0;
		height: 100vh;
		align-items: center;
		color: #0B0C10;
	}

	.jumbotron .container{
		justify-content: center;
		align-items: center;

	}

	
	.jumbotron button{
		position: relative;
		;
	}
	.jumbotron button:hover{
		border: #1F2833;
		background-color:#1F2833;
		color: white;
	}

	.jumbotron hr{
		border-top: 1px solid gray;
	}

	.jmb-btn{
		border: 2px solid #1F2833;
		color: #1F2833;
	}

	.d-block{
		height: 100vh;
		width: auto;
	}

.carousel{
	height:100vh;
	margin-top:0;
}


	.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.container-text-slider{
	padding:100px;
}
.s-c{
	height: 100vh;
	width: 100%;
	position: absolute;
	background-color: #0B0C10;
	display: flex;
	opacity:0.6;
	justify-content: center;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	color: #66FCF1;
	margin-bottom: 100px;
}

.slide2-item{
	font-family: 'Montserrat', sans-serif;
	/*background: #66FCF1;*/
	height: 100vh;
	/*color:#1F2833;*/
	justify-content:center;
	align-items:center;
	text-align:center;
	vertical-align: middle;
}

.slide2-item .s-c{
	display:flex;
	flex-direction:column;
	opacity: 1;
	background: #3AAFA9;
	color: #1F2833 !important;
}

.slide2-item h2{
	vertical-align: top;
	color: white;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -3px;
	
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom:70px;
}
.slide2-item p{
	font-weight: 600;
	margin-left: 200px;
	margin-right: 200px;
}

.background-quotes{
	background-image: url("/images?image=quotation-marks.svg");
	background-repeat: no-repeat;
  background-position: center;
	opacity: 0.4;
}

.login-bg{
	position: fixed;
	height:100vh;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}


.bg-active{
	visibility: visible;
	opacity: 1;
}

.inner-login-box{
	font-family: sans-serif;
	position: absolute;
	background-color: #191919;
	width: 50%;
	height: 70%;
	display: flex;
	justify-content:center;
	flex-direction:column;
	align-items: center;

	border-radius: 20px;
}

.inner-login-box h1{
	padding-top:30px;
	color:white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: xx-large;
	text-align: center;
}
.inner-login-box input{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #66FCF1 /*#3498db*/;
	padding: 3px 14px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
}

.inner-login-box input[type="text"]:focus{
	width:380px;
	border-color: #66FCF1;	
}
.inner-login-box input[type="password"]:focus{
	width:380px;
	border-color: #66FCF1 /* #2ecc71*/;	
}

.inner-login-box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #C5C6C7 /*#2ecc71*/;
	padding: 7px 40px;
	width:150px;
	outline: none;
	color: white;
	border-radius: 30px;
	transition: 0.25s;
	cursor: pointer;
}


.inner-login-box input[type="submit"]:hover{
	background: #C5C6C7/*#2ecc71*/;
	color:#191919;
}

.modal-close{
	position: absolute;
	top:10px;
	right:10px;
	font-weight: bold;
	cursor: pointer;
}
.page-footer{
	min-height: 100vh;
	background-color:#0B0C10;
	margin:30px 0 10px 0;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	align-items: center;
	color:  #C5C6C7;
}

.page-footer p{
	font-size:small;
}

.page-footer .social-media{
}


.btn-area{
	display:flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;

	border: 0;
	display: block;
	text-align: center;
	padding: 60px 5%;
}

.btn-area button{
	flex: 1 1 20em;
	border: 2px solid #66FCF1;
}



.navbar{
	background-color:transparent;
}



.div1{

}

.div2{
	
}

.div3{
	position: relative;
}

/*
.div4{
	position: absolute;
	
}
*/

.div5{
	position: relative;
	
}

/*
.div5 .page-footer{
	background:#0B0C10;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*/
.parent{
	
}


.parallex{
	
}

.navbar-after{
	transition: 1s;
	background:#0B0C10;
}


.error {color: #FF0000;}

.highlight{
	color: red;
}